<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNN</title>
    <link rel="stylesheet" href="dash.css">
</head>
<body>
    <h1>Student Dashboard</h1>
    <h2>Details</h2>
    
    <table border="1">
        <thead>
            <tr>
                <th>Subject Name</th>
                <th>Marks</th>
                <th>Attendance</th>
            </tr>
        </thead>
        <tbody>
            
                
            
        </tbody>
    </table>
    
    <a href="{{ url_for('index') }}">Home</a>
</body>
</html>
